<!-- WRAPPER -->
<aside
    class="fixed top-0 left-0 h-screen w-64 bg-gray-950 text-white flex flex-col justify-between transform transition-transform duration-300 z-50"
    [class.-translate-x-full]="!sidebarOpen" [class.translate-x-0]="sidebarOpen" [class.md:translate-x-0]="true">
    <div>
        <div class="p-4 text-2xl font-bold border-b border-gray-700">
            <!-- LOGO HERE -->
            <a href="#" class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                ZUNA
            </a>
        </div>

        <!-- LINKS -->
        <nav class="flex-1 p-4">
            <ul class="space-y-2">
                <li>
                    <a (click)="toggleSidebar()" [routerLink]="['/dashboard']"
                        class="flex gap-2 items-center p-2 rounded hover:bg-gray-700">
                        <mat-icon aria-hidden="false">dashboard</mat-icon>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" [routerLink]="['/dashboard/transactions']" class="flex gap-2 items-center p-2 rounded hover:bg-gray-700">
                        <mat-icon aria-hidden="false">sync_alt</mat-icon>
                        Transações
                    </a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" [routerLink]="['/dashboard/categories']" class="flex gap-2 items-center p-2 rounded hover:bg-gray-700">
                        <mat-icon aria-hidden="false">category</mat-icon>
                        Categorias
                    </a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" [routerLink]="['/dashboard/categories']" class="flex gap-2 items-center p-2 rounded hover:bg-gray-700">
                        <mat-icon aria-hidden="false">account_circle</mat-icon>
                        Perfil
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="p-4 border-t border-gray-700 flex items-center space-x-3 transition">
        <button (click)="logout()" href="#" class="flex gap-2 items-center p-2 rounded hover:bg-gray-700">
            <mat-icon aria-hidden="false">logout</mat-icon>
            sair
        </button>
    </div>
</aside>

<div class="md:pl-64 min-h-screen bg-gray-100 transform transition-transform duration-300">
    <!-- Header da página -->
    <header class="flex items-center justify-between p-4 bg-white shadow">
        <h1 class="text-xl font-semibold">Dashboard</h1>
        <button class="md:hidden" (click)="toggleSidebar()">
            <mat-icon aria-hidden="false" fontIcon="menu">menu</mat-icon>
        </button>
    </header>

    <!-- Conteúdo -->
    <main class="p-4">
        <router-outlet />
    </main>
</div>